

.leftDiv{


  background-color:#ffffff;
  position:fixed;
  z-index:2;
  left:0px;
  top:100px;
  bottom:20px;

  overflow: auto;
}
.rightDiv{

  width:100%;

}
.title{
  padding-right: 35%;
  width: 86%;

  margin-bottom: 20px;
}
