.root{
  background-color: #fffdff;
  width: 55%;
  /* box-shadow:4px 0px 0px 0px #d9d9d9 ;*/
  box-shadow:0px 4px 13px #d9d9d9;
  margin-top: 30px;
  margin-left: 21%;
  margin-bottom: 30px;
  min-height: 450px;


}

.circle {

  background-color:#43c9d5;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-top: 40px;
  margin-left:35%;
}

.personal{
  margin-top: 40px;
  color:#ff5454;
  font-size: 20px;
  margin-left:42%;
}
.personal1{
  margin-top: 20px;
  color:#101010;
  text-align: right;

}
.personal2{
  margin-left:13px;
  margin-top: 20px;
  color:#101010;

}
.personal3{
  margin-left:13px;
  margin-top: 10px;
  color:#101010;
  width: 170px;

}
.button_edit{
  margin-top: 40px;
  background-color:#f24a1c;
  color:#ffffff;
  margin-left:8%;
}
.button_img{
  margin-top: 20px;
  background-color:#5cb1f7;
  color:#ffffff;
  margin-left:36%;
}
.button_sava{
  margin-top: 20px;
  background-color:#f24a1c;
  color:#ffffff;
  margin-left:47%;
  margin-bottom: 20px;
}
.submit {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 42%;

}
.spin{
  text-align: center;
}
