.root{
  background-color: #fffdff;
  width: 95%;
  /* box-shadow:4px 0px 0px 0px #d9d9d9 ;*/
  box-shadow:0px 4px 13px #d9d9d9;
  margin-top: 30px;
  margin-left: 1%;
  margin-bottom: 30px;
  min-height: 450px;

}

.line{
  border:0.1px solid  #eeeeee;
  width: 95%;
  height:0.1px;
  margin-left:3%;
}
.img {
  margin-top: 21px;
  margin-left:35%;
  margin-bottom: 12px;
  width: 25px;
  height: 25px;
}
.operation {
  margin-top: 21px;
  margin-bottom: 12px;
  width: 50px;
  height: 25px;
  color:#f04e1d;
  border:0px solid  #eeeeee;
  padding: 0px 0px 0px 0px;
}
.switch {
  margin-top: 21px;
  margin-bottom: 12px;

}
.button{

  background-color:#f04e1d;
  color:#f2f2f2;
  margin-left: 43%;
}
.a{
  color:#101010;

}
.spin{
  text-align: center;
}
.verification{
  background-color:#f04e1d;
  color:#f2f2f2;
font-size: 12px;
}
