.root {
  background-color: #f9f7f8;
}
.login {
  height: 60px;
  margin-left: 60px;
}
.text {
  height: 60px;
  line-height:60px;
  color: #959595;
}
.login1 {
  height: 240px;
  margin-right: 60px;
  text-align: center;
}
.image {
  width: 176px;
  height: 180px;
  margin-left: 16px;
 }
.text1 {
  margin-top: -50px;
  color: #959595;
}
.text2 {
  color: #959595;

}
.image1 {
  margin-top: 50px;

}
.image2 {
  height: 32px;
  width: 20px;
}
.login2 {
 text-align: center;
  margin-top: 10px;

}
.xtext {
  font-size: 37px;
  margin-bottom: 10px;

 }
.xtext1 {
  font-size: 14px;
  margin-top: 10px;
  color: #999999;
}
.button {
  height: 40px;
  font-size: 20px;
}
.zxb {
  height: 100px;
}
.model {
  width: 200px;
}
.modeltext {
  margin-left: 10px;
}
.modelbutton {
  margin-top: 60px;
  text-align: center;
}
.modelbutton1 {
  width: 140px;
  height: 30px;
}
.modelimage {
  width: 14px;
  height: 14px;
  margin-top: 4px;
}
.modeltext1 {
  color: #f04e1d;
}
.buton {
  text-align: center;
}
